html,body{
    margin: 0;
    padding: 0;
    background-color: rgb(31, 30, 30);
}

#gridSvg {
    fill: transparent;
    stroke: gray;
    stroke-width: 5;
}

#gridSvg rect {
    transition: all 1s;
}

#gridSvg  text{
    stroke: transparent;
    display: none;
}

#gridSvg  rect:hover {
    cursor: pointer;
}

#gridSvg  rect:hover + text{
    stroke: transparent;
    display: inline;
}
.mover {
    fill: transparent;
    stroke: darkgrey;
    fill: rgb(75, 75, 75);
    stroke-width: 4;
}

.gridHolder{
    display: flex;
    align-content: center;
    justify-content: center;
}