html,
body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(31, 30, 30); */
    height: 100%;
}

main{
    height: 100%;
}

.gridHolder {
    display: flex;
    flex-direction: column;
    height: 100%;
}

iframe {
    flex-grow: 1;
    /* height: 300px;
    width: 600px */
    border: none;
}

svg{
    flex-grow: 2;
}

#gridSvg {
    fill: transparent;
    stroke: gray;
    stroke-width: 5;
}

#gridSvg text {
    stroke: transparent;
    display: none;
}

#gridSvg rect:hover {
    cursor: pointer;
}

#gridSvg rect:hover+text {
    stroke: transparent;
    display: inline;
}

.mover {
    stroke: darkgrey;
    fill: rgb(75, 75, 75);
    stroke-width: 4;
}

.mover.w {
    fill: aquamarine;
}

.mover.t {
    fill: red;
}

.mover.l {
    fill: yellow;
}

.mover.e {
    fill: rgb(0, 162, 255);
}

.gridHolder {
    display: flex;
    align-content: center;
    justify-content: center;
}