html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100vh;
}

main {
    height: 100%;
    max-height: 100%;
}

.gridHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.gridHolder svg {
    flex-grow: 2;
    width: 100%;
    display: block;
    z-index: 2;
}

.gridHolder .barDetached{
    width: 100%;
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    z-index:3
}

.gridHolder .barDetached iframe{
    opacity: 10%;
    width: 50%;
    z-index: 1;
}

.gridHolder .barDetached iframe:hover{
    opacity: 100%;
    /*width: 100%;*/
    z-index: 3;
}


.gridHolder .barAttached{
    width: 100%;
}

.gridHolder .barAttached iframe{
    width:100%
}

.separate{
    margin-left:20px
}

iframe {
    border: none;
    min-height: 300px;
}

.toolbar {
    background-color: rgb(229, 236, 246);
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.toolbar > span {
    margin-right: 15px;
}

.toolbarWrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}

.toolbar button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgb(36, 36, 89);
    color: rgb(36, 36, 89);
    border-radius: 20px;
    padding: 5px 10px;
    height: 24pt;

}

.toolbar button:hover {
    cursor: pointer;
    background-color: rgba(36, 36, 89, 0.65);
    color: white
}

.toolbar .selected:hover {
    cursor: default;
    background-color: rgb(36, 36, 89);
}

.toolbar .selected {
    background-color: rgb(36, 36, 89);
    color: white;
}

.toolbar .selected img {
    stroke: white;
}

.chartButtons {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}


.chartButtons :nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 5px;
    border-right: none;
}

.chartButtons :nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 5px;
}

#gridSvg {
    fill: transparent;
    stroke: gray;
    stroke-width: 5;
}

#gridSvg text {
    stroke: transparent;
    display: none;
}

#gridSvg rect:hover {
    cursor: pointer;
}

#gridSvg rect:hover + text {
    stroke: transparent;
    display: inline;
}

.mover {
    stroke: darkgrey;
    fill: rgb(75, 75, 75);
    stroke-width: 4;
}

